<div class="c-body">
  <main class="c-main">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="card col-md-5 py-5">
          <div class="card-body text-center">
            <div>
              <h2>Fan of Rockman EXE</h2>
              <p>
                時代を超えてネットで対戦しよう<br />
                ロックマンエグゼのネット対戦をインターネットの力を借りて再現してみました
              </p>
              <div>
                <button class="btn btn-outline-primary" type="button">ログイン</button>
              </div>
              <div>
                <button class="btn btn-link" type="button">アカウントの新規作成</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
