<header class="c-header header">
  <div class="c-header-nav">
    Rockman EXE
  </div>
</header>

<div class="c-body">
  <main class="c-main">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="card col-md-5 py-5">
          <div class="card-body text-center">
            <%= form_with url: user_create_path do |f| %>
            <%= f.submit "登録", class: "btn btn-outline-primary" %>
            <% end %>
            name
            登録ボタン
            キャンセルボタン(auth0からも消す)
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
