<header class="c-header header">
  <div class="c-header-nav ml-2">
    <img src="/assets/icon.png" width="75px" />
  </div>
</header>

<div class="c-body">
  <main class="c-main">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-lg-7">
          <div class="card ml-4">
            <div class="card-header">対戦の仕方</div>
            <div class="card-body">
              テストテストテストテストテストテストテストテストテスト<br/>
              テストテストテストテストテストテストテストテストテスト<br/>
              テストテストテストテストテストテストテストテストテスト<br/>
            </div>
          </div>
        </div>
        
        <!-- ユーザー情報 -->
        <div class="col-lg-4">
          <div class="card" style="width: 280px;">
            <div class="card-body ml-2">
              <div class="char-icon mb-2"><%= @user.name[0].upcase %></div>
              <div class="row mb-2">名前：<%= @user.name %></div>
              <!-- TODO
              <div class="row mb-2">
                <%= button_to "プロフィールの閲覧", user_detail_show_path, {method: :get, class: "btn btn-outline-primary"} %>
              </div>
              <div class="row mb-2">
                <button class="btn btn-outline-primary" type="button">プロフィールの編集</button>
              </div>
              -->
              <div class="row mb-2">
                <a class="btn btn-outline-primary" href="https://github.com/sh-miyoshi/go-rockmanexe/releases/download/v0.2/project.zip" role="button">最新版のアプリを入手</a>
              </div>
              <div class="row mb-2">
                <%= button_to "ログアウト", auth_logout_path, {method: :get, class: "btn btn-outline-danger"} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>