<header class="c-header header">
  <div class="c-header-nav">
    Rockman EXE
  </div>
</header>

<div class="c-body">
  <main class="c-main">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <!-- お知らせ -->
        <div class="col-lg-7">
          <div class="card ml-4">
            <div class="card-header">お知らせ</div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">
                  ネット対戦機能をリリースしました！
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- ユーザー情報 -->
        <div class="col-lg-4">
          <div class="card" style="width: 280px;">
            <div class="card-body ml-2">
              <div class="char-icon mb-2"><%= @user.name[0].upcase %></div>
              <div class="row mb-2">名前：<%= @user.name %></div>
              <div class="row mb-2">
                <%= button_to "プロフィールの閲覧", user_detail_show_path, {method: :get, class: "btn btn-outline-primary"} %>
              </div>
              <div class="row mb-2">
                <button class="btn btn-outline-primary" type="button">プロフィールの編集</button>
              </div>
              <div class="row mb-2">
                <button class="btn btn-outline-primary" type="button">最新版のアプリを入手</button>
              </div>
              <div class="row mb-2">
                <button class="btn btn-outline-danger" type="button">ログアウト</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>