<header class="c-header header">
  <div class="c-header-nav ml-2">
    <%= image_tag 'icon.png', :width => '75px' %>
  </div>
</header>

<div class="c-body">
  <main class="c-main">
    <div class="container-fluid">
      <div class="row-lg-10">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-between">
              <div class="ml-3 h4">ユーザー情報</div>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-2">
              <label for="router_addr" class="col-sm-2 col-form-label">
                ID
              </label>
              <div class="col-md-5">
                <%= text_field_tag 'id', @user.user_id, class: 'form-control read-text-dark', readonly: true %>
              </div>
            </div>
            <div class="row mb-2">
              <label for="router_addr" class="col-sm-2 col-form-label">
                名前
              </label>
              <div class="col-md-5">
                <%= text_field_tag 'name', @user.name, class: 'form-control' %>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-5">
                <%= link_to "キャンセル", user_show_path, {class: "btn btn-outline-primary mr-3"} %>
                <button class="btn btn-primary mr-3">更新</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
