<header class="c-header header">
  <div class="c-header-nav ml-2">
    <img src="/assets/icon.png" width="75px" />
  </div>
</header>

<div class="c-body">
  <main class="c-main">
    <div class="container-fluid">
      - 参加者(1人)
      - 名前検索
      - ※誰でも
      - セッション名
      - (有効期限)
      - (client_id)
      - (client_key)
    </div>
  </main>
</div>
